table,th,td{
border: 2px solid limegreen;






}
table{
border: 2px solid limegreen;
box-shadow: 2px 3px 4px 1px;

}
button{
border: 2px limegreen;
background-color: red;
color: white;
cursor: pointer;
}